body {
    background-color: rgb(43, 43, 72);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e1dae7;
}

aside {
    float:left;
}

.exp {
    display: inline-block;
}

#carouselExampleIndicators {
    width: 500px;
    height: 300px;
    border-style:groove;
}

.name {
    display: flex;
    flex-wrap: wrap;
    
}
#hook {
    margin-top: 70px;
    padding-left: 10px;
    max-width: 50%;
}